# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [11]:
# type your code here
x='MY age is ' +str(12)
print(x)

MY age is 12

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [24]:
# type your code here
print("hello" , "python","12.4","6" ,"True",sep="---")
print("Hello","World", sep="---")
print("12","13",sep="-----")

hello---python---12.4---6---True
Hello---World
12-----13

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [37]:
# type your code here



print("Hello ", end="")
print("World")
print("python","is","easy","programming","language",end=" ")
print()

Hello World
python is easy programming language

4) Can a python print function take no value to print???

In [42]:
# type your answer here
x=" "
print(x)
y= None
print(y)

None

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [55]:
#type your code here
name="Mr Ahmed"
age="30 years old"
year="2005"
place="The Himalya Associates"
height="5.10 feet"
weight="70600g"
monthly_income="200k"
print(name +" he is" + " " +age+" he is laweer by profession.He has done his bachelors in law in the year" +" "+year+" "+place+" "+height+" "+weight+" "+monthly_income)

Mr Ahmed he is 30 years old he is laweer by profession.He has done his bachelors in law in the year 2005 The Himalya Associates 5.10 feet 70600g 200k

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [5]:
#type your code here

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [6]:
#type your code here

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [7]:
#type your code here

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [8]:
#type your code here

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [9]:
#type your code here

11) print the year of birth of Mr. Ahmed.

In [10]:
#type your code here

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [12]:
#type your code here